/* 'literal and doxytag reference' roles */
.reference-cpp, .reference-ned, .reference-ini, .reference-msg, .reference-fp {
    font-size: 0.95rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    text-decoration: none;
    font-family: monospace;
}

/* higlighter backgrounds */
.highlight-cpp .highlight { background-color: #e6f3ff }
.highlight-ini .highlight { background-color: #fef5d6 }
.highlight-ned .highlight { background-color: #eeffe4 }
.highlight-msg .highlight { background-color: #fcf5ff }
.highlight-fp .highlight { background-color: #000000; text-color= #ffffff }

/* uncomment to highlight unresolved links with red background - for development only */
/*
span.reference-cpp, span.reference-ned, span.reference-ini, span.reference-msg, span.reference-fp {
   background: rgba(255, 0, 0, 0.2);
}
*/

.literal-cpp, .reference-cpp { color: darkblue; }
.literal-ini, .reference-ini { color: darkorange; }
.literal-ned, .reference-ned { color: darkgreen; }
.literal-msg, .reference-msg { color: purple; }
.literal-fp, .reference-fp { color: white; }
.protocol { font-style: italic; }

/* custom hero image */
.md-hero__inner {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.md-hero__inner p {
    margin-block-end: 0;
}

.md-hero__inner::before {
    content: ""; /* Necessary for the pseudo-element to work */
    display: block; /* Treat the pseudo-element like a block-level element */
    width: 400px; /* Width of the image */
    height: 100px; /* Height of the image */
    background-image: url('logo.png'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the pseudo-element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
